@using BtfLibrary.Domain.Entities
@model IEnumerable<Book>

@{
    ViewBag.Title = "Books";
}

@foreach (Book book in Model)
{
    <div>
        <h3>
            @book.Name - @book.Author
        </h3>
        <p>
            @book.Description
        </p>
    </div>
    <hr/>
}

